{
  "tenantName": "Name of Azure B2C Tenant",
  "tenantId": "Id of Azure B2C Tenant",
  "backofficeApp": "Backend App Id",
  "backofficeScopeName": "access_as_backoffice",
  "apiApp": "API App Id",
  "apiAppSecret": "API App Secret",
  "policyName": "Name of Azure Create/Login Policy"
}