{
  "tenantName": "Name of Azure B2C Tenant",
  "tenantId": "Id of Azure B2C Tenant",
  "policyName": "Name of Azure Create/Login Policy",
  "backendApp": "Backend App Id",
  "backendAppSecret": "Backend App Secret",
  "frontpageApp": "Frontpage App Id",
  "frontpageAppSecret": "Frontpage App Secret",
  "apiApp": "API App Id",
  "apiAppSecret": "API App Secret"
}